.tu-button
  cursor pointer
  height 34px
  padding 0 12px
  background-color #fff
  border-radius 3px
  border 1px solid var(--border-color)
  transition color 0.25s, border-color 0.25s
  &:hover
    color var(--color-primary)
    border-color var(--color-primary)
  &:active
    color var(--color-primary-pressed)
    border-color var(--color-primary-pressed)