$pagin-gap = 0.5rem

.tu-pagination
  display flex
  gap $pagin-gap
  &-button
    background-color #fff
    cursor pointer
    border 1px solid var(--border-color)
    border-radius 3px
    min-width 28px
    height 28px
    padding 0 0.25rem
    display flex
    align-items center
    justify-content center
    &.active
      color var(--color-primary)
      border-color var(--color-primary) 
    &:disabled .tu-pagination-icon
      color #afb0b1
  &-icon
    width 1em
    height 1em
    fill currentColor


